*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}
#encode-form {
	margin-top: 7em;
}
#encode-label, #decode-label {
	font-size: 25px;
}
#encode-btn, #decode-btn {
	margin-top: 3em;
}
#change-action {
	margin-top: 2em;
}